pagerduty-getstarted/target/classes/pagerduty-getstarted.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">
    <http:listener-config name="pagerduty-getstarted-httpListenerConfig" host="0.0.0.0" port="8081" basePath="api" doc:name="HTTP Listener Configuration"/>
    <apikit:config name="pagerduty-getstarted-config" raml="pagerduty-getstarted.raml" consoleEnabled="false" doc:name="Router"/>
    <http:request-config name="HTTP_Request_Configuration" protocol="HTTPS" host="956df5a2.ngrok.io" port="443" basePath="/api/pagerduty/{version}" doc:name="HTTP Request Configuration">
        <http:raml-api-configuration location="pagerduty-getstarted.raml"/>
    </http:request-config>
    <flow name="pagerduty-getstarted-main">
        <http:listener config-ref="pagerduty-getstarted-httpListenerConfig" path="/pagerduty/v1/*" doc:name="HTTP"/>
        <apikit:router config-ref="pagerduty-getstarted-config" doc:name="APIkit Router"/>
        <exception-strategy ref="pagerduty-getstarted-apiKitGlobalExceptionMapping" doc:name="Reference Exception Strategy"/>
    </flow>
    <flow name="pagerduty-getstarted-console">
        <http:listener config-ref="pagerduty-getstarted-httpListenerConfig" path="/console/*" doc:name="HTTP"/>
        <apikit:console config-ref="pagerduty-getstarted-config" doc:name="APIkit Console"/>
    </flow>
    <flow name="put:/resolve:application/json:pagerduty-getstarted-config">
        <http:request config-ref="HTTP_Request_Configuration" path="/incidents/#[payload.id]/resolve" method="PUT" doc:name="HTTP">
            <http:request-builder>
                <http:uri-param paramName="requester_id" value="#[payload.requester_id]"/>
                <http:header headerName="Authorization" value="Token token=abc123"/>
            </http:request-builder>
        </http:request>
        <set-payload value="#[NullPayload.getInstance()]" doc:name="Set Payload"/>
    </flow>
    <apikit:mapping-exception-strategy name="pagerduty-getstarted-apiKitGlobalExceptionMapping">
        <apikit:mapping statusCode="404">
            <apikit:exception value="org.mule.module.apikit.exception.NotFoundException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Resource not found&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="405">
            <apikit:exception value="org.mule.module.apikit.exception.MethodNotAllowedException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Method not allowed&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="415">
            <apikit:exception value="org.mule.module.apikit.exception.UnsupportedMediaTypeException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Unsupported media type&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="406">
            <apikit:exception value="org.mule.module.apikit.exception.NotAcceptableException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Not acceptable&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="400">
            <apikit:exception value="org.mule.module.apikit.exception.BadRequestException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Bad request&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
    </apikit:mapping-exception-strategy>
</mule>
